body{
	margin:0;
	font-family: 'Open Sans', sans-serif;
  	font-weight:300;
}
.primary-background{
	background-color: #E8EBE6;	
}
.secondary-background{
	background-color: #247559;
}
.border{
	border: 1px solid #BDBFBB;
}
.no-gutter{
	padding-left: 0;
	padding-right: 0;
}

/*HEADER*/
header{
	height:75px;
	line-height:75px;
}
header .logo{
	float: left;
}
header img{
	vertical-align: middle;
}
header .text{
	float: left;
	font-size: 16px;
	padding-left:10px;
}
header nav{
	float: right;
}


/*NAV BAR*/
.search{
	padding-left: 20px;
}
form button{
	float: left;
}
li{
	padding: 5px 0 5px 5px;
}
a{
	text-decoration: none;
	color: black;
}

/*MAIN*/
.chart{
	margin-top: 30px;
	height: 100px;
}